body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
    background-color: darkgray;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    position: fixed;
    width: 100%;
}

header img{
    float: left;
    border-radius: 30px;
    margin-left: 20px;
}

header h1{
    color: white;
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 50%;
    height: 60%;
    top: 20%;
}

header nav{
    float: right;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

header nav ul li{
    display: inline;
    list-style-type: none;
}

header nav ul li a{
    color: white;

}

.description{
    padding: 100px 200px;
}

.description img{
    float: left;
    width: 300px;
    height: 380px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.description-p2{
    clear: left;
}


.relationship{
    background-color: white;
    padding: 100px 200px;
    height: 100%;
}

.relationship img{
    width: 300px;
    height: 380px;
    float: right;
    margin: 0px 50px;
}



footer{
    width: 100%;
    height: 60px;
    position: absolute;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}

